.search-bar{
    grid-column:3/5;
    grid-row:2/3;
    height:1.5em;
    font-size:1.5em;
    outline:0px;
    border:none;
    margin-top:50px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius:4px;
    background:rgba(0,0,0,0.60);
    border:1px solid rgba(255,255,255,0.60);
    color:#fff;
}

@media screen and (max-width:414px){
    .search-bar{
        margin:7.5px 50px;
        grid-column: 1/11;
        height:1.5em;
        font-size:1.5em;
    }
}